In [2]:
import pandas as pd
import re
import numpy as np
import datetime
import datetime
from datetime import time
import dateutil
import pytz

In [3]:
atn="D:\\FB\\PY\\SAL\\Attendancereg.xlsx"

In [7]:
atd=pd.DataFrame()

In [8]:
atd=pd.read_excel(atn)

In [9]:
atd

,Unnamed: 0,Monthly Status Report (Detailed Work Duration),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35
0,NaN,Dec 01 2021 To Dec 31 2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Company:,NaN,NaN,NaN,Default,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Printed On : Jan 01 2022 09:40,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Days,NaN,1 W,2 Th,NaN,3 F,4 St,5 S,6 M,7 T,...,23 Th,24 F,25 St,NaN,26 S,27 M,28 T,29 W,30 Th,31 F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,Duration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,00:00,00:00,00:00,NaN,00:00,00:00,00:00,00:00,00:00,00:00
1045,Late By,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1046,Early By,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1047,OT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048,Shift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NS,NS,NS,NaN,NS,NS,NS,NS,NS,NS